@import './font.css';
@import './flex.css';
/** tab 样式调整 **/
.bar .am-tabs-default-bar-tab-active{
  background-color: #ffffff;
}

.bar .am-tabs-default-bar-tab{
  border-bottom: 1px solid #ffffff;
  border-top: none;
  border-left: 1px solid #ffffff;
  border-right: 0;
}

.bar .am-tabs-default-bar-content{
  color: #000;
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
}
.bar .am-tabs-default-bar{
  height: 44px;
  border-bottom: 1px solid #eeeeee;
}
.bar .am-tabs-default-bar-underline{
  border: 2px solid #0084e7;
  width: 21% !important;
  margin-left: 2%;
}
/** 订单号：SP057899444220        退款金额 ￥45.00 **/
.footFundWrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
/** 按钮外套 **/
.buttonWrap {
  height: 40px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
/** 按钮：立即处理 **/
.buttonProcessing {
  height: 28px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid #0084E7;
  background-color: #fff;
  color: #0084E7;
  font-size: 14px;
}
/** 按钮：查看详情 **/
.buttonViewDetail {
  height: 28px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid #0084E7;
  background-color: #0084E7;
  color: #ffffff;
  font-size: 14px;
}
