@import './font.css';
@import './flex.css';
/** tab 样式调整 **/
.bar .am-tabs-default-bar-tab-active{
  color: #0084e7;
  background-color: #ffffff;
}

.bar .am-tabs-default-bar-tab{
  border-bottom: 1px solid #ffffff;
  border-top: none;
  border-left: 1px solid #ffffff;
  border-right: 0;
}

.bar .am-tabs-default-bar-content{
  color: #000;
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
}
.bar .am-tabs-default-bar{
  height: 44px;
  border-bottom: 1px solid #eeeeee;
}
.bar .am-tabs-default-bar-underline{
  border: 2px solid #0084e7;
  width: 21% !important;
  margin-left: 2%;
}
/** 订单号：SP057899444220        退款金额 ￥45.00 **/
.footFundWrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
/**                               退款金额 ￥45.00 **/
.FundWrap {
  display: flex;
  background-color: #ffffff;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
/** 按钮外套 **/
.buttonWrap {
  height: 40px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
/** 按钮：立即处理 **/
.buttonProcessing {
  height: 28px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid #0084E7;
  background-color: #fff;
  color: #0084E7;
  font-size: 14px;
}
/** 按钮：查看详情 **/
.buttonViewDetail {
  height: 28px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid #0084E7;
  background-color: #0084E7;
  color: #ffffff;
  font-size: 14px;
}
  /** 退款外套 **/
.listItemWrap {
  display: flex;
  background-color: #ffffff;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #e5e5e5;
}
   /** 退款项 **/
 .listItem {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   padding: 10px 16px;
   border-top: 1px solid #e5e5e5;
 }
/** 退款项 **/
.listItemTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
   /** 说明 **/
 .explainWrap {
   display: flex;
   background-color: #ffffff;
   justify-content: flex-start;
   flex-direction: column;
   align-items: stretch;
   padding: 10px 16px 60px;
 }
/** 说明的title **/
.explainTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}
/** 说明的内容 **/
.explain {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}
  /** 驳回退款，同意退款 **/
.applyBtnWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
}
/** 驳回退款 **/
.rejectBtn {
  background-color: #f6f6f6;
  color: #292929;
  border: none;
  width: 50%;
  height: 100%;
  font-size: 18px;
}
/** 同意退款 **/
.agreeBtn {
  background-color: #0084E7;
  color: #fff;
  border: none;
  width: 50%;
  height: 100%;
  font-size: 18px;
}
/** 退款成功页面 **/
.refundSuccessPage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #ccc;
}
  /** 完成 **/
.completeBtn {
  background-color: #5DC351;
  color: #fff;
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
}
.completeBtn:active {
  background-color: #3e8e41;
}
/** 驳回原因弹出窗体 **/
.rejectModal {
  height: 220px;
}


