.left-btn {
  flex: 1;
  height: 100%;
}

.fill-btn {
  flex: 2;
  background-color: #ff6501;
  height: 100%;
  color: white;
  font-size: 18px;
}

.fill-btn-buy {
  flex: 2;
  background-color: #ff0000;
  height: 100%;
  color: white;
  font-size: 18px;
}
