/** 行 **/
.flex-space-between-row-center {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.flex-center-row-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.flex-flex-start-row-center {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.flex-flex-end-row-center {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

/** 列 **/
.flex-center-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex-center-column-flex-start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.flex-center-column-flex-end {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
.flex-center-column-stretch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}
.flex-space-between-column-flex-start {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

