/** 通用字体样式 **/
.commonFont {
  white-space: nowrap;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
}
.commonNumber {
  white-space: nowrap;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Arial;
}
.commonSFont {
  white-space: nowrap;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 思源宋体;
}
