/* 通用边框色 */
@borderColor: #cccccc;
/* 通用字体色 */
@fontGray: #8c8c8c;
@fontRed: red;
@fontBlue: #0084e7;
@backgroundBlue: #0084e7;

/*
 dir,ali,jus
 */
.flex(@dir: row,@ali:stretch,@jus:	flex-start ){
  display: flex;
  flex-direction: @dir;
  align-items: @ali;
  justify-content: @jus;
}

li{
  list-style: none;
}

.fontRed{
  color: @fontRed;
}
.fontGray{
  color: @fontGray;
}
.fontBlue{
  color: @fontBlue;
}

.div-active{
  background-color: #ccc;
}

//页面内容惯性滑动
.touch_scroll{
  -webkit-overflow-scrolling: touch;
  //position: fixed;
  //height: 100%;
  width: 100%;
  //padding-bottom: 100px;
  overflow: auto;
}

.bigContainer{
  display: flex;
  height: 100%;
  flex-direction: column;
}
.bigContent{
  flex: 1;
}
.animated-router-container{
  height: 100vh;
}
