.flex-space-between-column-center {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.flex-space-around-column-center-height50 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 50px;
}

.flex-space-between-column-center-height60 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 60px;
}

.flex-space-between-column-center-height35 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 35px;
}

.flex-space-between-row-center-height40 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

