@import '../../assets/css/GeneralStyle';
.hahahah{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select:none;
}
.boxx{
  color: red;
}
.withdrawal{
  .am-list-item:not(:last-child) .am-list-line{
    border-bottom: none;
  }
  .prompt{
    height: 45px;
    display: flex;
    align-items: center;
    color: #666;
    padding-left: 15px;
    padding-right: 15px;
    .point{
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #666;
      margin-right: 10px;
    }
  }
  .parameter{
    padding-left: 15px;
    font-size: 16px;
    .am-list-item .am-input-control .fake-input-container .fake-input{
      font-size: 14px;
    }
    .am-list-item .am-input-control .fake-input-container .fake-input-placeholder{
      font-size: 14px;
    }
    .am-list-item .am-input-control .fake-input-container .fake-input.focus:after{
      top: 0;
    }
  }
}
html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after{
  content: none;
}
.brank{
  border-top: 1px solid @borderColor;
  border-bottom: 1px solid @borderColor;
}
.brankWrap{
  display: flex;
  align-items: center;
  padding: 15px 0;
  .brankMsg{
    margin-left: 15px;
  }
}

.brankDrawer{
  height: 70vh;
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 16px;
  .drawerDeleteIcon{
    width: 16px;
    height: 16px;
  }
  &>div{
    display: flex;
    align-items: center;
    img{
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }
  }
  &>div:nth-child(1){
    justify-content: center;
    font-size: 18px;
    border-bottom: 1px solid @borderColor;
  }
  .drawerItem{
    height: 60px;
  }
  .am-list-item:not(:last-child) .am-list-line{
    border-bottom: none;
  }
  .am-list-line{
    border-bottom: 1px solid @borderColor!important;
  }
}
