/** 退单号：TQ12856987543 **/
.number{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(51, 51, 51);
}
/** 查看此退款单所有物品 **/
.viewItem{
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(51, 51, 51);
}
/** 订单号：SP057899444220 **/
.orderNumber{
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(153, 153, 153);
}
/** 退款金额 **/
.refund{
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(102, 102, 102);
}
/** ￥45.00 **/
.refundNumber{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(0, 0, 0);
}
/** 仅退款，退款成功 **/
.refundState{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(102, 102, 102);
}
/** 全部退款，待处理，已处理，已关闭 **/
.bar .am-tabs-default-bar-tab{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(0, 0, 0);
}
/** 退款申请单 **/
.refundApply{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(0, 0, 0);
}
/** 退款成功 **/
.refundSuccess {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(0, 0, 0);
  padding-top: 10px;
}

/** ￥45.0 **/
.refundSuccessNumber {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(0, 0, 0);
  padding-top: 10px;
}

/** 退款成功，退款失败 **/
.refundResult {
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
/** 协商详情 **/
.consultationDetails {
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(0, 0, 0);
}
/** 商家同意退款，买家申请退款 **/
.negotiationStateFont{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(0, 0, 0);
  padding-left: 10px;
}
/** 买家卖家协商的留言内容字体样式 **/
.negotiationContent{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  color: rgb(102, 102, 102);
}
