@import '../../../assets/css/font.css';
@import '../../../assets/css/flex.css';
/** tab 样式调整 **/
.gBar .am-tabs-default-bar-tab-active{
  color: #0084e7;
  background-color: #ffffff;
}

.gBar .am-tabs-default-bar-tab{
  border-bottom: 1px solid #ffffff;
  border-top: none;
  border-left: 1px solid #ffffff;
  border-right: 0;
}

.gBar .am-tabs-default-bar-content{
  color: #000;
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
}
.gBar .am-tabs-default-bar{
  height: 44px;
  border-bottom: 1px solid #eeeeee;
}
.gBar .am-tabs-default-bar-underline{
  border: 2px solid #0084e7;
  width: 21% !important;
  margin-left: 2%;
}
