/*修改ant-moblie 默认样式*/

.checkBox .am-checkbox-agree .am-checkbox-inner{
  top: 0;
}
.food .am-list-item .am-list-line .am-list-content{
  padding: 0;
}
.food .am-list-item.am-input-item{
  height: 0;
  padding-left: 0;
}
.food .am-list-item .am-list-line{
  padding-right: 0;
}
.food .am-list-item{
  min-height: 30px;
  background-color: transparent;
}
.food .am-stepper.showNumber{
  width: 120px;
}
.food .am-stepper-handler{
  border-radius: 0;
}
.settlement .am-checkbox-agree{
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.paySure .am-list-header{
  font-size: 20px;
  color: black;
}
.am-list-item .am-list-line .am-list-content{
  padding-bottom: 0;
}
