@import '../../assets/css/font.css';
@import '../../assets/css/flex.css';
/** tab 样式调整 **/
.moBar .am-tabs-default-bar-tab-active{
  color: #0084e7;
  background-color: #ffffff;
}

.moBar .am-tabs-default-bar-tab{
  border-bottom: 1px solid #ffffff;
  border-top: none;
  border-left: 1px solid #ffffff;
  border-right: 0;
}

.moBar .am-tabs-default-bar-content{
  color: #000;
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
}
.moBar .am-tabs-default-bar{
  height: 44px;
  border-bottom: 1px solid #eeeeee;
}
.moBar .am-tabs-default-bar-underline{
  border: 2px solid #0084e7;
  width: 14.666666% !important;
  margin-left: 1%;
}
/** 按钮：立即付款 **/
.buttonPay {
  white-space: nowrap;
  height: 28px;
  border-radius: 5px;
  border: 1px solid #0084E7;
  background-color: #fff;
  color: #0084E7;
  font-size: 14px;
}
/** 按钮：查看详情 **/
.buttonViewDetail {
  white-space: nowrap;
  height: 28px;
  border-radius: 5px;
  border: 1px solid #0084E7;
  background-color: #0084E7;
  color: #ffffff;
  font-size: 14px;
}

/** 可以自适配屏幕宽度的分割线 **/
.Segment_line {
  height: 1px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  margin-left: 12px;
  margin-right: 11px;
}

.Segment_line2 {
  height: 1px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.Segment_line3 {
  height: 2px;
  border-top: 2px solid #e5e5e5;
  text-align: center;
}

.Segment_line4 {
  height: 1px;
  text-align: center;
  margin-left: 12px;
  margin-right: 11px;
  z-index: 100;
  background-color: #e5e5e5;
}

/** 短信验证码输入框样式 **/
.Verification {
  background-color: transparent !important;
  width: 35px;
  border-bottom: 1px solid #7b7b7b;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.Verification .fake-input {
  font-size: 25px !important;
  text-align: center !important;
}

/** 验证码输入框样式 **/
.passContainer {
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 300px;
  height: 50px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: #ffffff;
}

.passItem {
  width: 16.66666%;
  height: 100%;
  float: left;
  margin: 0;
  box-sizing: border-box;
}

.passItem:not(:last-child) {
  border-right: inherit;
}

.passWordInput {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  border: none;
  padding-left: 14px;
  margin-top: -2px;
  outline: none;
  font-size: 40px;
  letter-spacing: 0.87em;
  text-align: left;
  text-overflow: initial;
}

.passItem1 {
  width: 30px;
  height: 30px;
  border-radius: 10%;
  float: left;
  margin-right: 10px;
  border: 1px solid;
}

.passContainer1 {
  width: 100%;
  height: 50px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: transparent;
}

.passWordInput1 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: transparent;
  text-shadow: 0 0 0 #181818;
  position: absolute;
  border: none;
  outline: none;
  margin-left: 8px;
  margin-top: -10px;
  font-size: 23px;
  letter-spacing: 1.23em;
  text-align: left;
  text-overflow: initial;
}

.editpasswordinput {
  width: 80%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  outline: none;
  font-size: 16px;
  text-align: left;
}

.editpasswordinput::-webkit-input-placeholder {
  color: #b6b4bf;
  opacity: 1;
}

/** 收货地址样式 **/
.addressInput {
  width: 50%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding-top: 0px;
  outline: none;
  font-size: 15px;
  text-align: left;
  color: #a3a3a3;
  float: left;
  position: absolute;
  left: 80px;
}

.addressText {
  font-size: 15px;
  color: #818181;
  padding: 12px;
  float: left;
}

/** 字体样式 **/
.p1 {
  font: 26px Pingfang SC
}

.p2 {
  font: 300 26px Pingfang SC
}

.p3 {
  font: bold 26px Pingfang SC
}

.p4 {
  font: 900 26px Pingfang SC
}

/** 添加银行卡样式 **/

.addressInput::-webkit-input-placeholder {
  color: #b6b6b6;
}

.addressInput::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #b6b6b6;
}

.addressInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #b6b6b6;
}

.addressInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b6b6b6;
}

.BankCode {
  background-color: transparent !important;
}

.BankCode input {
  font-size: 17px !important;
}

/** flex 布局 **/
.flex-row-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-column-center-p1510 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 10px;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.flex-center-row-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.flex-row-space-around {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flex-row-space-between-p1510 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 10px;
  background-color: #ffffff;
}

.flex-center-row-space-between-p1510 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px 10px;
  background-color: #ffffff;
}

/** tab 样式调整 **/
.am-tabs-default-bar-tab-active {
  background-color: #ffffff;
}

.am-tabs-default-bar-tab {
  border-bottom: 1px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 0;
}

.am-tabs-default-bar-content {
  color: #000;
  background-color: #f2f2f2;
  border-right: 1px solid #ffffff;
}

.am-tabs-default-bar {
  height: 40px;
}

.am-tabs-default-bar-underline {
  border: none;
}

html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
  height: 0px;
}
/** 星级评价 **/
.starLevel .el-rate__icon{
  font-size: 25px;
}
