@import "../../../assets/css/GeneralStyle";

.detectionName{
  height: 48px;
  border-bottom: 1px solid @borderColor;
  select{
    border: none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
}
.detection{
  .topContent{
    &>div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px;
      font-size: 16px;
    }
    &>div>div:nth-child(2){
      font-size: 14px;
    }
  }
}
.uploadImages{
  height: 80px;
  .am-image-picker-list .am-flexbox .am-flexbox-item{
    width: 60px;
    height: 60px;
  }
}

.picker_wrap{
  width: 60px;
  height: 60px;
  border: 1px solid @borderColor;
  border-radius: 5px;
}
.picker_input{
  opacity: 0;
  width: 60px;
  height: 60px;
}
