.scroll {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.horizontal-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectAddress .am-search {
  padding: 0;
}

.render-style {
  min-height: 100%;
  width: 100%;
  background-color: #efeff5;
}
